<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Doctor Page</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="body" style="background: linear-gradient(to right hsl(210, 36%, 96%),white);">

    <div class="wrapper">
        <button class="toggle toggle-none">
            <i class="fas fa-bars"></i>
        </button>
        <div class="sidebar show-sidebar">
            <div class="sidebar-header">
                <h2>Hello<br><span class="name"></span></h2>
                <button class="close-btn"><i class="fas fa-times"></i></button>
            </div>
            <ul>
                <li><a class="nav-link" href="/doctorPage"><i class="fas fa-home"></i>Home</a></li>
                <li><a class="nav-link" href="/doctorPage/profile"><i class="fas fa-user"></i>My profile</a></li>
                <li><a class="nav-link" href="#"><i class="fas fa-hand-paper"></i>My Appointments</a></li>
                <li><a class="nav-link" href="#"><i class="fas fa-user-injured"></i>My Patients</a></li>
                <li><a class="nav-link" href="/doctorPage/editProfile"><i class="fas fa-marker"></i>Edit Profile</a></li>
                <li><a class="nav-link" href="#"><i class="fas fa-calendar-week"></i> Calender</a></li>
            </ul>
            <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="main_content">
            <h2>Welcome to <br>Medicare</h2>
            <video class="video" muted='muted' src="/video/a-doctor-consulting-a-patient-3959434-3287124.mp4" width="1600"
                height="490" type="video/mp4" autoplay="autoplay" loop="loop"></video>
        </div>
    </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>