@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html, body {
	margin: 0;
	padding: 0;
	background: hsl(215, 100%, 96%);
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.body {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}
.body-s {
	max-width: 600px;
}
@media screen and (max-width: 600px) {
	.body {
		padding: 20px;
	}
}

/**/
/* defaults */
/**/
.sky-form {
	margin: 0;
	outline: none;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}
.sky-form * {
	margin: 0;
	padding: 0;
}
.sky-form header {
	display: block;
	padding: 20px 30px;	
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
}
.sky-form fieldset {
	display: block;	
	padding: 25px 30px 5px;
	border: none;
	background: rgba(255,255,255,.9);
}
.sky-form fieldset + fieldset {
	border-top: 1px solid rgba(0,0,0,.1);
}
.sky-form section {
	margin-bottom: 20px;
}
.sky-form footer {
	display: block;
	padding: 15px 30px 25px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
}
.sky-form footer:after {
	content: '';
	display: table;
	clear: both;
}
.sky-form a {
	color: #2da5da;
}
.sky-form .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
}
.sky-form .label.col {
	margin: 0;
	padding-top: 10px;
}
.sky-form .input,
.sky-form .button {
	position: relative;
	display: block;
}
.sky-form .input input{
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
}
/**/
/* buttons */
/**/
.sky-form .button {
	float: right;
	height: 39px;
	overflow: hidden;
	margin: 10px 0 0 20px;
	padding: 0 25px;
	outline: none;
	border: 0;
	font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
  
  /**/
  /* normal state */
  /**/
  .sky-form .input input{
	  border-color: #e5e5e5;
	  transition: border-color 0.3s;
  }
  .sky-form .button {
	  background-color: #2da5da;
	  opacity: 0.8;
	  transition: opacity 0.2s;
  }
  .sky-form .button.button-secondary {
	  background-color: #b3b3b3;
  }