    <script src="/js/home.js"></script>
    <script>
        const navToggle = document.querySelector('.navbar-toggler');
        const links = document.querySelector('.navbar-nav');
    
        navToggle.addEventListener('click', () => {
            links.classList.toggle('show-links');
        })
    </script>
</body>

</html>
