<%-include('include/header')%>
    <link rel="stylesheet" href="/css/labtest.css">
        <section>
            <h3>Top Booked Diagnostic Tests</h3>
            <div class="grid-container">
                <div class="grid-item">
                    <div class="card card-body">
                        <h5 class="card-title text-warning">COVID RT-PCR</h5>
                        <div class="card-text">
                            <h6>Known as Covid-19 Virus Qualitative Pcr Throat Swab </h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendi
                                nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                            <button type="submit" class="btn btn1 btn-primary" onclick="add();"
                                class="ADD">Add</button>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card card-body">
                        <h5 class="card-title text-warning">Liver Function Test</h5>
                        <div class="card-text">
                            <h6>Known as Liver Function Tests</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendi
                                nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                            <button type="submit" class="btn btn2 btn-primary" onclick="add();"
                                class="ADD">Add</button>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card card-body">
                        <h5 class="card-title text-warning">COVID RT-PCR</h5>
                        <div class="card-text">
                            <h6>Known as Covid-19 Virus Qualitative Pcr Throat Swab </h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendi
                                nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                            <button type="submit" class="btn btn3 btn-primary" onclick="add();"
                                class="ADD">Add</button>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card card-body">
                        <h5 class="card-title text-warning">Fasting Blodd Sugar</h5>
                        <div class="card-text">
                            <h6>known as Covid-19 Virus Qualitative Pcr Throat Swab </h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendi
                                nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                            <button type="submit" class="btn btn4 btn-primary" onclick="add()"
                                class="ADD">Add</button>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card card-body">
                        <h5 class="card-title text-warning">Beta HCG</h5>
                        <div class="card-text">
                            <h6>known as Beta Hcg Automated Blood </h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendi
                                nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
                            <button type="submit" class="btn btn5 btn-primary" onclick="add();">Add</button>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
         </script>
        <%-include('include/footer')%>
